.animation {

  .actions {
    margin-bottom: 12px;
    text-align: center;
  }

  .music-sheet-wrapper {
    overflow-x: auto;
  }

  .music-sheet {
    text-align: center;
    width: min-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .music-editor {
    margin-top: 12px;
    text-align: center;
  }
}


