.header {
  text-align: center;
}

textarea {
  resize: none;
  text-align: center;
}

.cursor-editor {
  margin-top: 12px;
  text-align: center;
}

.cursor-nav {
  margin-bottom: 12px;
  text-align: center;
}

.paper {
  text-align: center;
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


