<div class="animation">
  <div>
    <h1>Animation</h1>
  </div>
  <div class="actions">
    <button mat-button (click)="animate()">Animate</button>
    <button mat-button
            *ngIf="isAnimationWorks !== undefined"
            (click)="pause()">
      {{isAnimationWorks ? 'Pause' : 'Resume'}}
    </button>
  </div>
  <div class="music-sheet-wrapper">
    <div #musicSheet id="musicSheet" class="music-sheet"></div>
  </div>
  <div class="music-editor">
    	<textarea name="musicInput" id="musicInput" cols="80" rows="8"
                (keydown)="isMobileView ? onMusicChange() : null">
        {{this.music}}
      </textarea>
<!--    <div>-->
<!--      <audio controls>-->
<!--        <source src="/static/bad_romanse.mp3" type="audio/mp3">-->
<!--      </audio>-->
<!--    </div>-->
  </div>
  <div id="warnings"></div>
</div>
