$background-primary-light: cornsilk;
$background-primary-dark: #503DBD;
$text-primary-light: white;
$text-primary-dark: black;
$border-primary-light: white;
$border-primary-dark: #503DBD;
$input-primary-light: darkkhaki;
$input-hover-primary-light: olive;
