@import "src/assets/themes/styles.scss";

input, a, .mat-button {
  text-decoration: none;
  color: $text-primary-dark;
  border-radius: 15px;
  background-color: $input-primary-light;
  transform: scale(1.2);
  padding: 10px 20px;
  margin: 0 30px;
  border-width: 0;
}
input:hover, a:hover, .mat-button:hover {
  background-color: $input-hover-primary-light;
}
input:focus, .mat-button:focus {
  outline:0;
}

.uploader {
  margin-bottom: 20px;
}
.image-preview {
  margin-top: 30px;

  img {
    max-height: 600px;
  }
}
