/* You can add global styles to this file, and also import other style files */

@import "assets/themes/styles";

html, body {
  height: 100vh;
  overflow-y: hidden;
}

body {
  text-align: center;
}

html {
  background-color: $background-primary-light;
}

input, a, button.mat-button {
  text-decoration: none;
  color: $text-primary-dark;
  border-radius: 15px;
  background-color: $input-primary-light;
  transform: scale(1.2);
  padding: 10px 20px;
  margin: 0 30px;
  border-width: 0;
}

input:hover, a:hover, button:hover {
  background-color: $input-hover-primary-light;
}

input:focus, button:focus {
  outline: 0;
}

.abcjs-cursor.cursor {
  background-color: $cursor-primary-light;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $background-primary-light;
  margin: 20px 0;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: $background-primary-dark;
  border-radius: 10px;
}


.d-flex {
  display: flex;
}

